body {
    background-color: aliceblue;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.image {
    margin-top: 30px;
}

@media(max-width:768px) {


    .image {
        width: 80%;
    }

}